$primary: #000;
$secondary: #fff;
$grey: #363537;

// Layout
//----------------------------------------------------------------------------------------------------------------------
.btn {
  &:focus {
    display: none;
  }
}

// Header
//----------------------------------------------------------------------------------------------------------------------
nav {
  // Login Button
  .login {
    margin-top: .5rem;
    margin-bottom: .5rem;
    @media (min-width: 1024px) {
      margin-right: 1rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .logout {
    display: flex;
    justify-content: center;
  }
  a {
    color: $secondary;
    text-align: center;
    &:hover {
      color: $secondary;
      text-decoration: none;

    }
  }
}

// Sidebar Page My Account
//----------------------------------------------------------------------------------------------------------------------
.color-sidebar {
  color: $primary;
  &:hover {
    color: $grey;
  }
}
.card {
  width: 18rem;
  margin-bottom: 1.5rem;
  .card-body {
    background-color: $grey;
  }
}
