$primary: #000;
$secondary: #fff;

// Layout
//----------------------------------------------------------------------------------------------------------------------
.btn {
  &:focus {
    display: none;
  }
}

// Header
//----------------------------------------------------------------------------------------------------------------------
nav {
  // Login Button
  .login {
    margin-top: .5rem;
    margin-bottom: .5rem;
    @media (min-width: 1024px) {
      margin-right: 1rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  a {
    color: $secondary;
    text-align: center;
    &:hover {
      color: $secondary;
      text-decoration: none;

    }
  }
}